# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl

# Terraform variable files (optional, if they contain secrets)
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log
